#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

/ {
    /* SEKCJA BEHAVIORS (ZACHOWANIA) - TUTAJ DEFINIUJEMY DWUKLIKI */
    behaviors {
        // Para X / H -> 1 klik: H, 2 kliki: X
        td_xh: tap_dance_xh {
            compatible = "zmk,behavior-tap-dance";
            label = "TD_XH";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp H>, <&kp X>;
        };

        // Para Q / W -> 1 klik: W, 2 kliki: Q
        td_qw: tap_dance_qw {
            compatible = "zmk,behavior-tap-dance";
            label = "TD_QW";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp W>, <&kp Q>;
        };

        // Para V / M -> 1 klik: M, 2 kliki: V
        td_vm: tap_dance_vm {
            compatible = "zmk,behavior-tap-dance";
            label = "TD_VM";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp M>, <&kp V>;
        };

        // Para @ / # -> 1 klik: #, 2 kliki: @
        td_at_hash: tap_dance_at_hash {
            compatible = "zmk,behavior-tap-dance";
            label = "TD_AT_HASH";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp HASH>, <&kp AT>;
        };

        // Para / / : -> 1 klik: :, 2 kliki: /
        td_sl_col: tap_dance_sl_col {
            compatible = "zmk,behavior-tap-dance";
            label = "TD_SL_COL";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp COLON>, <&kp SLASH>;
        };

        // Para * / dzielenie -> 1 klik: dzielenie, 2 kliki: *
        td_st_div: tap_dance_st_div {
            compatible = "zmk,behavior-tap-dance";
            label = "TD_ST_DIV";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp KP_DIVIDE>, <&kp STAR>;
        };

        // Para ! / " -> 1 klik: ", 2 kliki: !
        td_ex_dqt: tap_dance_ex_dqt {
            compatible = "zmk,behavior-tap-dance";
            label = "TD_EX_DQT";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp DQT>, <&kp EXCL>;
        };

        // Para P / ' -> 1 klik: ', 2 kliki: P
        // UWAGA: Jesli wolisz P jako glowne, zamien kolejnosc w bindings ponizej!
        td_p_sqt: tap_dance_p_sqt {
            compatible = "zmk,behavior-tap-dance";
            label = "TD_P_SQT";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp SQT>, <&kp P>;
        };

        // Para ; / , -> 1 klik: , 2 kliki: ;
        td_sc_cm: tap_dance_sc_cm {
            compatible = "zmk,behavior-tap-dance";
            label = "TD_SC_CM";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp COMMA>, <&kp SEMI>;
        };

        // Para + / - -> 1 klik: -, 2 kliki: +
        td_pl_mn: tap_dance_pl_mn {
            compatible = "zmk,behavior-tap-dance";
            label = "TD_PL_MN";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp MINUS>, <&kp PLUS>;
        };

        // Para % / $ -> 1 klik: $, 2 kliki: %
        td_pr_dl: tap_dance_pr_dl {
            compatible = "zmk,behavior-tap-dance";
            label = "TD_PR_DL";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp DLLR>, <&kp PRCNT>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
// Rzad gorny: TAB | H (2x X) | W (2x Q) | M (2x V) | G | J || ...
&kp TAB    &td_xh       &td_qw       &td_vm       &kp G        &kp J        &td_at_hash     &td_sl_col      &td_st_div     &td_ex_dqt   &td_p_sqt  &kp BSLH
// Rzad srodkowy:
&kp LCTRL  &kp S        &kp C        &kp N        &kp T        &kp K        &td_sc_cm       &kp A           &kp E          &kp I        &kp Z      &td_pr_dl
// Rzad dolny:
&kp LSHFT  &kp B        &kp P        &kp L        &kp D        &kp H        &td_pl_mn       &kp U           &kp O          &kp Y        &kp F      &kp ESC
                                     &kp DEL      &kp BSPC     &lt 1 R      &lt 2 SPACE     &kp RET         &kp RALT
            >;
        };

        lower_layer {
            bindings = <
&kp TAB    &trans        &kp N7       &kp N8       &kp N9       &trans       &kp F13    &kp F14   &kp F15   &kp F16   &kp F17    &kp BSPC
&kp LCTRL  &bt BT_SEL 0  &kp N4       &kp N5       &kp N6       &kp N0       &kp F18    &kp LEFT  &kp DOWN  &kp UP    &kp RIGHT  &trans
&kp LSHFT  &trans        &kp N1       &kp N2       &kp N3       &trans       &kp F19    &kp F20   &kp F21   &kp F22   &kp F23    &trans
                                      &kp DEL      &kp BSPC     &kp LGUI     &kp SPACE  &kp RET   &kp RALT
            >;
        };

        raise_layer {
            bindings = <
&kp TAB    &kp EXCL  &kp AT  &kp HASH  &kp DLLR  &kp PRCNT    &kp CARET  &kp AMPS   &kp KP_MULTIPLY  &kp LPAR  &kp RPAR  &kp BSPC
&kp LCTRL  &trans    &trans  &trans    &trans    &trans       &kp MINUS  &kp EQUAL  &kp LBKT         &kp RBKT  &kp BSLH  &kp GRAVE
&kp LSHFT  &trans    &trans  &trans    &trans    &trans       &kp UNDER  &kp PLUS   &kp LBRC         &kp RBRC  &kp PIPE  &kp TILDE
                             &kp DEL   &kp BSPC  &kp SPACE    &kp SPACE  &trans     &kp RALT
            >;
        };
    };
};
