lower_layer {
            bindings = <
&kp TAB       &trans        &kp N7  &kp N8   &kp N9      &trans     &kp F13     &kp F14          &kp F15    &kp F16  &kp F17     &kp BSPC
&kp LEFT_ALT  &bt BT_SEL 0  &kp N4  &kp N5   &kp N6      &kp N0     &kp F18     &kp LEFT         &kp DOWN   &kp UP   &kp RIGHT   &trans
&trans        &trans        &kp N1  &kp N2   &kp N3      &trans     &kp F19     &kp F20          &kp F21    &kp F22  &kp F23     &trans
                                    &kp RET  &kp LCTRL   &trans     &trans      &kp LEFT_SHIFT   &kp RALT
// TUTAJ ZMIANA ----------------------------------------------------^^^^^^ (Było &kp SPACE, musi być &trans)
            >;
        };

        raise_layer {
            bindings = <
&kp TAB       &kp EXCL  &kp AT  &kp HASH  &kp DLLR  &kp PRCNT   &kp CARET  &kp AMPS   &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp KP_MULTIPLY  &kp BSPC
&kp LEFT_ALT  &trans    &trans  &kp LT    &kp GT    &trans      &kp MINUS  &kp EQUAL  &kp LBKT              &kp RBKT               &kp BSLH         &kp GRAVE
&kp LSHFT     &kp LWIN  &trans  &trans    &trans    &trans      &kp UNDER  &kp PLUS   &kp LBRC              &kp RBRC               &kp PIPE         &kp TILDE
                                &kp RET   &kp LCTRL &trans      &trans     &kp LEFT_SHIFT  &kp RALT
// TUTAJ ZMIANA ------------------------------------^^^^^^ (Było &kp SPACE, musi być &trans)
            >;
        };
